// Colors
@primary-color: #0b8eba;
@secondary-color: #e0665f;

// @primary-color-dark: darken(@primary-color, 10%);
// @primary-color-light: lighten(@primary-color, 25%);
@primary-color-dark: #00618a;
@primary-color-light: #5bbeed;
// @secondary-color-dark: darken(@secondary-color, 30%);
// @secondary-color-light: lighten(@secondary-color, 25%);
@secondary-color-dark: #a93635;
@secondary-color-light: #ff978c;

// Typography
@heading-font: 'Copse', serif;
@body-font: 'Rubik', sans-serif;

@primary-font-color: black;
@secondary-font-color: white;

// Borders
