// Colors
@primary-color: green;
@secondary-color: blue;

@primary-color-dark: darken(@primary-color, 30%);
@primary-color-light: lighten(@primary-color, 25%);
@secondary-color-dark: darken(@secondary-color, 30%);
@secondary-color-light: lighten(@secondary-color, 25%);

// Typography
@heading-font: 'Copse', serif;
@body-font: 'Rubik', sans-serif;

// Borders
