.outer-wrap-header,
.outer-wrap-flash,
.outer-wrap-breadcrumb {
  background-color: @primary-color;
}
.site-header {
  height: @magicNumber * 3;
  position: relative;
}
.flash-wrap {
  & img {
    width: 100%;
  }
}

.site-logo-text {
  & a {
    text-decoration: none;
    color: @link-font-color;
    &:hover {
      color: @primary-font-color;
    }
  }
}
