.site-header {
  background-color: @secondary-color-light;
  height: 80px;
}
.flash-wrap img {
  max-width: 100%;
}
.site-logo-text {
  font-size: 1.5em;
  & a {
    text-decoration: none;
    color: @primary-font-color;
    &:hover {
      background: @secondary-color-dark;
      color: @secondary-font-color;
    }
  }
}
