.navbar2 {
  display: none;
  margin-left: 2em;
  & li {
    background: @secondary-color;
    color: @secondary-font-color;
    &:hover,
    &:active {
      .border-bottom(0, @secondary-color-dark, 2px, solid);
      & a {
        text-decoration: none;
      }
    }
  }
}
