@import url(base.less);

// Colors

@primary-color: #4eb28e;
@primary-color-dark: #0f8261;
@primary-color-light: #81e5be;

@secondary-color: #eb9bb9;
@secondary-color-dark: #b76c89;
@secondary-color-light: #ffcdeb;

@tertiary-color: #ffdfa8;

@primary-font-color: black;
@heading-color: black;
@link-font-color: @secondary-color-light;

.footer {
  background-color: @tertiary-color;
}